<section class="about-image pt-120 pb-60">
  <div class="container mxw-1330">
    <div class="about-image-wrap">
      <div class="img xbFadeUpItem" data-animation-delay="0ms">
        {% if module.img_1.src %}
          <img src="{{ module.img_1.src }}" alt="{{ module.img_1.alt or 'About Showcase 1' }}" class="img-fluid rounded-4">
        {% else %}
          <img src="{{ get_asset_url('../../assets/img/about/ab-img01.jpg') }}" alt="About Showcase 1" class="img-fluid rounded-4">
        {% endif %}
      </div>
      <div class="img xbFadeUpItem" data-animation-delay="100ms">
        {% if module.img_2.src %}
          <img src="{{ module.img_2.src }}" alt="{{ module.img_2.alt or 'About Showcase 2' }}" class="img-fluid rounded-4">
        {% else %}
          <img src="{{ get_asset_url('../../assets/img/about/ab-img02.jpg') }}" alt="About Showcase 2" class="img-fluid rounded-4">
        {% endif %}
      </div>
      <div class="img xbFadeUpItem" data-animation-delay="200ms">
        {% if module.img_3.src %}
          <img src="{{ module.img_3.src }}" alt="{{ module.img_3.alt or 'About Showcase 3' }}" class="img-fluid rounded-4">
        {% else %}
          <img src="{{ get_asset_url('../../assets/img/about/ab-img03.jpg') }}" alt="About Showcase 3" class="img-fluid rounded-4">
        {% endif %}
      </div>
      <div class="img xbFadeUpItem" data-animation-delay="300ms">
        {% if module.img_4.src %}
          <img src="{{ module.img_4.src }}" alt="{{ module.img_4.alt or 'About Showcase 4' }}" class="img-fluid rounded-4">
        {% else %}
          <img src="{{ get_asset_url('../../assets/img/about/ab-img04.jpg') }}" alt="About Showcase 4" class="img-fluid rounded-4">
        {% endif %}
      </div>
    </div>
  </div>
</section>
