<section class="brand-area">
  <div class="container mxw-1330">
    <div class="fs-brand-wrapper text-center">
      <p class="fs-brand-top">{{ module.title }}</p>
      <div class="fs-brand-marquee-wrap">
        <ul class="fs-brand-marquee">
          {% for logo in module.logos %}
            <li class="fs-marquee-item">
              {% if logo.image.src %}
                <img src="{{ logo.image.src }}" alt="{{ logo.brand_name }}">
              {% elif loop.index == 1 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-1.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 2 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-2.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 3 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-3.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 4 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-4.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 5 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-5.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 6 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-6.png.webp" alt="{{ logo.brand_name }}">
              {% else %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-7.png.webp" alt="{{ logo.brand_name }}">
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <ul class="fs-brand-marquee" aria-hidden="true">
          {% for logo in module.logos %}
            <li class="fs-marquee-item">
              {% if logo.image.src %}
                <img src="{{ logo.image.src }}" alt="{{ logo.brand_name }}">
              {% elif loop.index == 1 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-1.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 2 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-2.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 3 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-3.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 4 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-4.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 5 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-5.png.webp" alt="{{ logo.brand_name }}">
              {% elif loop.index == 6 %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-6.png.webp" alt="{{ logo.brand_name }}">
              {% else %}
                <img src="https://www.bitrix24.in/upload/optimizer/converted/images/content_en/bxw_blocks/bxw_block_partners_logos/img-logo-7.png.webp" alt="{{ logo.brand_name }}">
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
